<style>

    .container {
      height: 100%;
      width: 100%;
      display: flex;
      position: fixed;
      align-items: center;
      justify-content: center;
    }
    .container2 {
      height: 110%;
      width: 100%;
      display: flex;
      position: fixed;
      align-items: center;
      justify-content: center;
    }
    </style>
    
    
    
    
    <div class="container">
        <H1>No tiene permisos para accceder a esta pagina</h1>
        </div>
    <div class="container2">
        <a href="/grupos/">Volver a mis Grupos</a>
      </div>