<style>

        .container {
          height: 100%;
          width: 100%;
          display: flex;
          position: fixed;
          align-items: center;
          justify-content: center;
        }
        .container2 {
          height: 110%;
          width: 100%;
          display: flex;
          position: fixed;
          align-items: center;
          justify-content: center;
        }
        </style>
        
        
        
        
        <div class="container">
            <H1>Lo sentimos no tiene permisos para Administrar este grupo</h1>
            </div>
        <div class="container2">
          <a href="{% url 'grupos_url_with_pk' pk=GrupoPk %}">Volver al Grupo</a>
          </div>