{% extends 'adminlte/base.html' %}

{% block title_outer %}
        <title>{% block title %} Sarasa | Mis Grupos {% endblock %}</title>
{% endblock %}
{% block content_header %}
    <section class="content-header">
      <h1>
        Mis Grupos
      </h1>
    </section>
    {% block breadcrumbs %}
    <ol class="breadcrumb" style="background-color:#ecf0f5;" >
        <li><a href="/inicio"><i class="fa fa fa-home"></i> Inicio</a></li>
        <li class="active"><a href="/grupos/"><i class="fa fa-group "></i> Mis Grupos</a></li>
      </ol>
      {% endblock %}
{% endblock %}

{% block content %}
    <!-- Default box -->

    <div class="row">
        <!-- /.box-header -->
        <div class="col-md-12">
            {% for grupo in lista_grupos %}

            <div class="box collapsed-box" style="border-radius:8px">
                <div class="box-header with-border">
                    
                    <a href="{% url 'grupos_url_with_pk' pk=grupo.idGrupo %}">
                        <h3 class="box-title">{{ grupo.NombreGrupo }}</h3>
                    </a>
                    <div class="box-tools pull-right">
                        {% if request.user == grupo.Creador %}
                            <a href="{% url 'borrar_Grupo' pkGrupo=grupo.idGrupo %}"><i class="fa fa-trash-o"></i></a>
                        {% endif %}
                        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip">
                                
                            <i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body" style="border-radius:8px" >
                    <div class="table-responsive mailbox-messages" >
                        <table class="table table-hover table-striped" >
                        <tbody>
                        {% for publicacion in publicaciones %}
                            {% if publicacion.idGrupoPu == grupo %}
                                <tr>
                                    <td><div class="icheckbox_flat-blue" aria-checked="false" aria-disabled="false" style="position: relative; border-radius:8px"><input type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div></td>
                                    <td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
                                    <td class="mailbox-name"><a href="{% url 'publicacion_url_with_pk' pk=publicacion.idPublicacion %}">{{ publicacion.idUserPublico }}</a></td>
                                    <td class="mailbox-subject"><a href="{% url 'publicacion_url_with_pk' pk=publicacion.idPublicacion %}"><b>{{ publicacion.Titulo }}</b></a>
                                    </td>
                                    <td class="mailbox-attachment"></td>
                                    <td class="mailbox-date">{{ publicacion.FechaPublicacion }}</td>
                                </tr>
                            {% endif %}
                            {% empty %}
                                <tr>
                                    <td>
                                        No hay publicaciones en este Grupo
                                    </td>
                                </tr>
                        {% endfor %}
                        </tbody>
                        </table>
                        <!-- /.table -->
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer" >
                    <div class="mailbox-controls">
                        <!-- Check all button -->
                        <!-- /.btn-group -->
                        <button type="button" class="btn btn-default btn-sm" id="btnDenunciar{{ grupo.idGrupo }}"  onclick="idButtonModal(this)" data-toggle="modal" data-target="#modalDenuncia"  class="link-black text-lg" style="cursor:pointer;"><i class="fa fa-ban"></i></button>
                </div>
                <!-- /.box-footer-->
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- /.box -->

{% include 'adminlte/components/modalDenuncia.html' %}

{% endblock %}
