{% extends 'adminlte/base.html' %}

{% block title_outer %}
       <title>{% block title %} Sarasa | Grupo {% endblock %}</title>
{% endblock %}
{% block content_header %}
    <section class="content-header">
      <h1>
        Mis Grupos
      </h1>
    </section>
    {% block breadcrumbs %}
    <ol class="breadcrumb" style="background-color:#ecf0f5;" >
        <li><a href="/inicio"><i class="fa fa fa-home"></i> Inicio</a></li>
        <li><a href="/grupos/"><i class="fa fa-group "></i> Mis Grupos</a></li>
        <li class="active"><a href="{% url 'grupos_url_with_pk' pk=grupo.idGrupo %}"><i class="fa fa-user "></i>  {{ grupo.NombreGrupo }}</a></li>
      </ol>
      {% endblock %}
{% endblock %}
{% block content %}
    <div class="row">
        
        <div class="col-md-8">
            <div class="box box-primary">
            <div class="box-header ui-sortable-handle" style="cursor: move;">
              <i class="ion ion-clipboard"></i>

              <h3 class="box-title">{{ grupo.NombreGrupo }}</h3>
              {% if valido  %}
                <div class="box-tools pull-right">
                  <a type="button" class="btn btn-success pull-right btn-sm" href="{% url 'nueva_publicacion_with_pk' pk=grupo.idGrupo %}"><i class="fa fa-plus"></i> Nuevo</a>
                </div>
              {% endif %} 
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
                  <!-- /.pull-right -->
                <div class="table-responsive mailbox-messages">
                  <table class="table table-hover table-striped">
                    <tbody>
                      {% for publicacion in publicaciones %}
                        <tr>
                            <td><div class="icheckbox_flat-blue" aria-checked="false" aria-disabled="false" style="position: relative;"><input type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div></td>
                            {% if publicacion.Destacar == 2 %}
                              <td class="mailbox-star"><a href="{% url 'destacar_publicacion_pk' pk=publicacion.idPublicacion %}"><i class="fa fa-star text-yellow"></i></a></td>
                            {% else %}
                              <td class="mailbox-star"><a href="{% url 'destacar_publicacion_pk' pk=publicacion.idPublicacion %}"><i class="fa fa-star-o text-yellow"></i></a></td>
                            {% endif %}
                            <td class="mailbox-name"><a href="{% url 'perfil_url_pk' pk=publicacion.idUserPublico %}">{{ publicacion.idUserPublico }}</a></td>
                            <td class="mailbox-subject"><a href="{% url 'publicacion_url_with_pk' pk=publicacion.idPublicacion %}"><b>{{ publicacion.Titulo }}</b></a> </td>
                            <td class="mailbox-attachment"></td>
                            <td class="mailbox-date">{{ publicacion.FechaPublicacion }}</td>
                            <td> 
                              <a id="publicacion{{ publicacion.idPublicacion }}"><i class="fa fa-trash-o"></i></a>
                            </td>
                          </tr>
                        {% endfor %}
                    </tbody>
                  </table>
                  <!-- /.table -->
                </div>
                </div>

            
            <div class="box-footer clearfix no-border">
                <div class="box-tools pull-right">
                <ul class="pagination pagination-sm inline">
                    <li><a href="#">«</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">»</a></li>
                  </ul>
                </div>
                </div>
            </div>
          </div>
    

        

        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header ui-sortable-handle" style="cursor: move;">
                    <i class="ion ion-clipboard"></i>
      
                    <h3 class="box-title">Eventos</h3>
                  </div>
            <div class="box-body no-padding">
                <!-- /.pull-right -->
              <div class="table-responsive mailbox-messages">
                <table class="table table-hover table-striped">
                  <tbody>
                    {% for evento in eventos %}
                      <tr>
                          <td class="mailbox-subject"><b>{{ evento.NombreEvento }}</b></td>
                          <td class="mailbox-name">Creador: <b>{{ evento.CreadorEvento }}</b></td>
                          <td> 
                              <a id="evento{{ evento.idEvento }}"><i class="fa fa-trash-o"></i></a>
                            </td>
                        </tr>
                        <tr>
                            
                            <td class="mailbox-date">{{ evento.FechaEvento|date:"D d M Y" }} - {{ evento.Hora }}</td>
                        </tr>
                      {% endfor %}
                  </tbody>
                </table>
                <!-- /.table -->
              </div>
              </div>
              </div>
          
          
          <!-- FIN EVENTO-->
           
              
              <!-- USERS LIST -->
              <div class="box box-danger">
                <div class="box-header with-border">
                  <h3 class="box-title">Miembros</h3>

                  <div class="box-tools pull-right">
                    <span class="label label-danger">{{ miembros|length }} Miembros</span>
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                  </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                  <ul class="users-list clearfix">
                    {% for miembro in miembros %}
                    <li>
                      <img src="{{ miembro.avatar }}" alt="User Image">
                      <a class="users-list-name" href="#">{{ miembro.username }}</a>
                    </li>
                    {% endfor %}
                  </ul>
                  <!-- /.users-list -->
                </div>
                <!-- /.box-body -->
                <div class="box-footer text-center">
                  <a href="javascript:void(0)" class="uppercase">Ver Todos</a>
                </div>
                <!-- /.box-footer -->
              </div>

              {% if request.user in miembros %}
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Nuevo Evento</h3>
                    </div>
                    <div class="box-body">
                        {% block register_errors %}
                        {% if nuevoEventoForm.errors %}
                            {% for field in nuevoEventoForm %}
                                {% for error in field.errors %}
                                    <p class="alert alert-danger">
                                        {{ error }}
                                    </p>
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                        {% endblock %}
                    
                    
                    <form action="{% url 'nuevo_evento_with_pk' pk=grupo.idGrupo %}" method="POST">
                          {% csrf_token %}
                          {% load widget_tweaks %}
                        <div class="form-group">
                          {{ nuevoEventoForm.NombreEvento|add_class:"form-control"|append_attr:"placeholder:Nombre del Evento" }}
                      </div> 
                      <div class="form-group">
                          {{ nuevoEventoForm.FechaEvento|add_class:"form-control" }}
                        </div> 
                        <div class="form-group">
                            {{ nuevoEventoForm.Hora|add_class:"form-control" }}
                          </div> 
                    </div>
                      <div class="box-footer">       
                          <div class="col-xs-4"></div>  
                          <div class="col-xs-4"></div>        
                        <div class="col-xs-4">
                          <button type="submit" class="btn btn-primary btn-block btn-flat pull-right" style="border-radius: 50px">Guardar</button>
                        </div>
                      </form>
                  </div>
              {% endif %}
  
              
              <!--/.box -->
            </div>       
    </div>
{% endblock %}
