{% extends 'adminlte/base.html' %}
<link href="bootstrap-modal-carousel.css" rel="stylesheet" />

{% block content %}
<div class="row">
  <!-- /.box-header -->

    <div class="col-md-12">
       <!-- Si el usuario esta logeado y tiene permisos para publicar  -->
      {% if request.user.is_authenticated %}
         <div class="box">
            <div class="box-header">
              <h3 class="box-title">Publicar
                <small></small>
              </h3>
              <!-- tools box -->
              <div class="pull-right box-tools">
                <button type="button" class="btn btn-default btn-sm" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                  <i class="fa fa-minus"></i></button>
              </div>
              <!-- /. tools -->
            </div>
              <!-- /.box-header -->
                <div class="box-body pad">
                  <form method="POST" >
                    {% csrf_token %}
                    <textarea id="contenidoPublicacion" placeholder="Escriba aca lo que quiera publicar" class="col-xs-12" rows="4" cols="40" style="resize: none;"></textarea>
                    <div class="col-xs-12" style="margin-top: 15px; text-align: right;">
                      <button type="submit" class="btn btn-default btn-sm" id="btnSubirImagen">Adjuntar imagen</button>    
                      <button type="submit" class="btn btn-success btn-sm" id="btnPublicar" onclick="Publicar()">Subir</button>
                    </div>
                  </form>
                </div>
              </div>
              {% endif %}
        <!-- Box Comment -->
        {% for publicacion in listaPublicaciones %}
             <div class="box box-default">
                <div class="box-header with-border">
                    <div class="user-block">
                        {% if avatar_url == empty %}
                          <img class="img-circle" src="https://cdn1.vectorstock.com/i/thumb-large/66/60/avatar-business-man-graphic-vector-9646660.jpg" alt="User Image">
                        {% endif %}
                        <span class="username"><a href="#">{{ publicacion.idUserPublico }}</a></span>
                        <span class="description">{{ publicacion.FechaPublicacion }}</span>
                      </div>
                    <div class="box-tools">
                    {% if publicacion.idUserPublico == request.user %} 
                    <button type="button" id="btnModificar{{ publicacion.idPublicacion }}" onclick="modificarPublicacion(this)" class="btn btn-box-tool" data-widget="edit"><i class="fa fa-pencil"></i></button> 
                    <button type="button" id="btnBorrar{{ publicacion.idPublicacion }}"  onclick="borrarPublicacion(this)" class="btn btn-box-tool btnBorrar" data-widget="remove"><i class="fa fa-times"></i></button>
                  {% endif %}                   
                  </div>
                  </div>  
                <div id="publicacion{{ publicacion.idPublicacion }}" class="box-body">{{ publicacion.Contenido }}</div>
                
              
                        <!-- /.box-footer -->
          <div class="box-footer">
              <form action="#" method="post">
                <img class="img-responsive img-circle img-sm" src="https://www.gravatar.com/avatar/d89c1edbad2692462ed75e3ea268fa01?s=90&d=mm" alt="Alt Text">
                <!-- .img-push is used to add margin to elements next to floating images -->
                <div class="img-push">
                  <input type="text" class="form-control input-sm" placeholder="Escriba su comentario">
                </div>
              </form>
            </div>
          </div>
        
            <!-- /.box-footer -->
              {% empty %}
              <div class="box box-default">
                <div class="box-header with-border">
                  <h3 class="box-title">Se el primero en publicar!</h3>
                </div>  
              </div>
          
        {% endfor %}

       
</div>


<div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="btn-group">
              <select class="input-group" id="selectCarrera">
                <option selected > 
                    {% if request.user.is_authenticated %}
                        {{ user.carrera }}
                        Carrera del Usuario
                    {% else %}
                        {{ listaCarreras.first }}
                    {% endif %}
                </option>
                    {% for carrera in listaCarreras%}
                     <option> {{ carrera.NombreCarrera }} </option>
                    {% endfor %}
              </select>
            </div>
            <button id="generarPDF" class="btn btn-success">
               Generar PDF <i class="fa fa-download"></i>
            </button>      
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div id="modalBody" class="modal-body">
            <h4  id="carrera" class="modal-title" align="center" style="font-weight:bold"></h4>
            <div id="myCarousel" class="carousel slide carousel-fit" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#myCarousel" data-slide-to="1"></li>
                  <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
              
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                  <div id="imgCarrera" class="item active">
                      <img class="img-responsive" src="../static/images/plan_ingenieria.jpeg" style="max-height:800px;">

                  </div>
                  <div class="item">
                     <img class="img-responsive" src="../static/images/plan_ingenieria2.jpeg" style="max-height:800px;">
                  </div>
                </div>
              
                <!-- Controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
              </div>
            
        </div>
      </div>
    </div>
  </div>




<script src="bootstrap-modal-carousel.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> 
<script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>
<script src="path/to/bootstrap.js"></script>
<script src="path/to/bootstrap-confirmation.js"></script>

<script>
$(document).ready(function() {    

  var doc = new jsPDF();
  var specialElementHandlers = {
    '#exampleModal': function (element, renderer) {
        return true;
    }
  };
  
  $('#generarPDF').click(function () {   

      // Carga los elementos del PDF
      var contenido = window.document.getElementById("modalBody");
      var imgData =  new Image();
      imgData.src = '../static/images/plan_ingenieria.jpeg';
      var imgData2 =  new Image();
      imgData2.src = '../static/images/plan_ingenieria2.jpeg';

      doc.fromHTML(contenido, 15, 15, {
          'width': 170,
          'elementHandlers': specialElementHandlers
      });
      console.log(imgData);

      // Seteo de los parametros del PDF
      doc.addImage(imgData, 'JPEG',0,10, 210, 210);
      doc.addPage();
      doc.addImage(imgData2, 'JPEG',0,10, 200, 210);
      doc.save('sample-file.pdf');
  });

  $('#carrera').text( "Plan de estudio de " + $('#selectCarrera option:selected').html());
  $('#selectCarrera').change(function(){
    var seleccion = $('#selectCarrera option:selected').html();
    $('#carrera').text( "Plan de estudio de " + seleccion);
    console.log(seleccion);
  });

  $.ajaxSetup({ 
      beforeSend: function(xhr, settings) {
          function getCookie(name) {
              var cookieValue = null;
              if (document.cookie && document.cookie != '') {
                  var cookies = document.cookie.split(';');
                  for (var i = 0; i < cookies.length; i++) {
                      var cookie = jQuery.trim(cookies[i]);
                      // Does this cookie string begin with the name we want?
                      if (cookie.substring(0, name.length + 1) == (name + '=')) {
                          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                          break;
                          }
                      }
                  }
                  return cookieValue;
              }
          if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
              // Only send the token to relative URLs i.e. locally.
              xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
          }
      } 
  });

  function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie != '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
              var cookie = jQuery.trim(cookies[i]);
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) == (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }
  var csrftoken = getCookie('csrftoken');
  function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  }
  $.ajaxSetup({
      beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
      }
  });



} );

function Publicar(){
    var contenidoPublicacion = $("#contenidoPublicacion").val();
    console.log(contenidoPublicacion)
    $.ajax({
      type: 'POST',
      url: '/publicar/', //direccion a donde hace las requets
      data: {contenidoPublicacion: contenidoPublicacion},
      success: function (data) {

      },
      error: function(data) {
      }
    });
};

function borrarPublicacion(comp){

  // Recibe como "COMP" el ID de la publicacion a ELIMINAR
  let publicacionId = comp.id;
  var pkPublicacion = publicacionId.substr(9);

  // Se parcea el ID , y se realiza el POST a la URL 
  $.ajax({
      type: 'POST',
      url: '/publicar/borrar/', //direccion a donde hace las requets
      data: {publicacionId: pkPublicacion},
      success: function (data) {
          console.log("Borrado exitosamente ");
      },
      error: function(data) {
          console.log(data);
          console.log("Accion no permitida ");
      }
  });

}

function modificarPublicacion(comp){
  let publicacionId = comp.id;
  var pkPublicacion = publicacionId.substr(12);
  $("#" + publicacionId).hide();

  var selector = "#publicacion" + pkPublicacion;
  var contenidoPublicacion = $(selector).text();
  $(selector).html('<textarea id="contenidoModifacion' + pkPublicacion + '" class="col-xs-12" cols="40" style="resize: none;"></textarea><div class="pull-right" style="margin-top:5px;"><button type="button" id="btnGuardar'+ pkPublicacion +'" class="btn btn-success btn-sm" onclick="guardarPublicacion(this)">Guardar</button></div>');
  $("#contenidoModifacion" + pkPublicacion).val(contenidoPublicacion);
};

function guardarPublicacion(comp){
  let publicacionId = comp.id;
  var pkPublicacion = publicacionId.substr(10);
  
  console.log(publicacionId);
  $("#btnModificar" + pkPublicacion).show();

  var contenido = $("#contenidoModifacion" + pkPublicacion).val();
  // Se parcea el ID , y se realiza el POST a la URL 
  $.ajax({
      type: 'POST',
      url: '/publicar/guardar/', //direccion a donde hace las requets
      data: {publicacionId: pkPublicacion , contenido: contenido},
      success: function (data) {
          var selector = "#publicacion" + pkPublicacion;
          $(selector).html(contenido);
          console.log("Modificado exitosamente ");
      },
      error: function(data) {
          console.log("Accion no permitida ");
      }
  });
}

</script>
  
{% endblock %}
