{% extends 'adminlte/base.html' %}
<link href="bootstrap-modal-carousel.css" rel="stylesheet" />

{% block title_outer %}
       <title>{% block title %} Sarasa | Inicio {% endblock %}</title>
{% endblock %}


{% block content %}
<div class="row">
  <!-- /.box-header -->

    <div class="col-md-12">
       <!-- Si el usuario esta logeado y tiene permisos para publicar  -->
      {% if request.user.is_authenticated %}
        <div class="box">
            <div class="box-header">
              <h3 class="box-title">Publicar
                <small></small>
              </h3>
              <!-- tools box -->
              <div class="pull-right box-tools">
                <button type="button" class="btn btn-default btn-sm" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                  <i class="fa fa-minus"></i></button>
              </div>
              <!-- /. tools -->
            </div>
              <!-- /.box-header -->
                <div class="box-body pad">
                  <form method="POST" >
                    {% csrf_token %}
                    <textarea id="contenidoPublicacion" placeholder="¿En que estas pensando {{ request.user.get_username|capfirst }} ?" class="col-xs-12" rows="4" cols="40" style="resize: none;"></textarea>
                    <div class="col-xs-12" style="margin-top: 15px; text-align: right;">
                      <button type="submit" class="btn btn-default btn-sm" id="btnSubirImagen">Adjuntar imagen</button>    
                      <button type="submit" class="btn btn-success btn-sm" id="btnPublicar" onclick="Publicar()">Subir</button>
                    </div>
                  </form>
                </div>
          </div>
              {% endif %}
        <!-- Box Comment -->
        <div id="divPublicacion">
        {% for publicacion in listaPublicaciones %}
             <div class="box box-default">
                <div class="box-header with-border">
                    <div class="user-block">
                        {% if avatar_url == empty %}
                          <img class="img-circle" src="{{ publicacion.idUserPublico.avatar }}" alt="User Image">
                        {% endif %}
                        <span class="username"><a href="#">{{ publicacion.idUserPublico }}</a></span>
                        <span class="description">{{ publicacion.FechaPublicacion }}</span>
                      </div>
                    <div class="box-tools">
                    {% if publicacion.idUserPublico == request.user %} 
                    <button type="button" id="btnModificar{{ publicacion.idPublicacion }}" onclick="modificarPublicacion(this)" class="btn btn-box-tool" data-widget="edit"><i class="fa fa-pencil"></i></button> 
                    <button type="button" id="btnBorrar{{ publicacion.idPublicacion }}"  onclick="borrarPublicacion(this)" class="btn btn-box-tool btnBorrar" data-widget="remove"><i class="fa fa-times"></i></button>
                  {% endif %}                   
                  </div>
                  </div>  
                <div class="box-body">
                    <p id="publicacion{{ publicacion.idPublicacion }}" >{{ publicacion.Contenido }}</p>
                    <ul class="list-inline">
                        <li><a href="#" class="link-black text-lg"><i class="fa fa-thumbs-up margin-r-5"></i>Me Gusta</a></li>
                        <li><a id="btnComentario{{ publicacion.idPublicacion }}" data-toggle="collapse" class="link-black text-lg" data-target="#comentario{{ publicacion.idPublicacion }}" style="cursor:pointer"><i class="fa fa-comments margin-r-5"></i>Comentarios</a></li>
                        <li><a id="btnDenunciar{{ publicacion.idPublicacion }}"  onclick="denunciarPublicacion(this)" class="link-black text-lg" style="cursor:pointer; text-align: right;"><i class="fa fa-ban margin-r-5 "></i>Denunciar</a></li>
                    </ul>
                </div>
                <div class="box-footer box-comments collapse" id="comentario{{ publicacion.idPublicacion }}">
                  {% for comentario in listaComentarios %}
                     {% if publicacion == comentario.idPublicacionC %}   
                      <div class="box-comment">
                        <!-- User image -->
                        <img class="img-circle img-sm" src={{ comentario.idUserComento.avatar }} alt="User Image">

                        <div class="comment-text">
                              <span class="username">
                                {{ comentario.idUserComento }}
                                <span class="text-muted pull-right">{{ comentario.FechaComentario|date:"SHORT_DATE_FORMAT" }}</span>
                              </span><!-- /.username -->
                          {{ comentario.ContenidoComentario }}
                        </div>
                        <!-- /.comment-text -->
                      </div>
                    
                      {% endif %}
                  {% endfor %}
                  </div>

          {% if request.user.is_authenticated %}  
                        <!-- /.box-footer -->
          <div class="box-footer">
              <form action="#" method="post">
                {% csrf_token %}
                <img class="img-responsive img-circle img-sm" src="{{ request.user.avatar }}" alt="Alt Text">
                <!-- .img-push is used to add margin to elements next to floating images -->
                
                <div class="img-push">
                  <input id="contenidoComentario{{ publicacion.idPublicacion }}" onkeypress="validarEnter(event,{{publicacion.idPublicacion}})" type="text" class="form-control input-sm" placeholder="Escriba su comentario {{ request.user.get_username }}">
                </div>
              </form>
            </div>
          </div>
          {% endif %}
            <!-- /.box-footer -->
              {% empty %}
              <div class="box box-default">
                <div class="box-header with-border">
                  <h3 class="box-title">Se el primero en publicar!</h3>
                </div>  
              </div>
          
        {% endfor %}
        </div>
       
</div>


</div>

<script src="bootstrap-modal-carousel.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> 
<script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>
<script src="path/to/bootstrap.js"></script>
<script src="path/to/bootstrap-confirmation.js"></script>

  
{% endblock %}
