{% extends "adminlte/base.html" %}
{% load i18n static %}

{% block title_outer %}
        <title>{% block title %} Sarasa | Ingresar {% endblock %}</title>
{% endblock %}

{% block body_class %}login-page{% endblock %}

{% block body %}
    <div class="login-box">
        {% block logo %}
        <div class="login-logo">
            {# Mirrors block names used in _main_header.html #}
            <a href="{% block logo_href %}/{% endblock %}">{% block logo_text %}<b>Sarasa</b>UCSE{% endblock %}</a>
        </div>
        {% endblock %}
        <!-- /.login-logo -->
        <div class="login-box-body">
            {% block login_errors %}
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <p class="alert alert-danger">
                            Usuario o Contraseña incorrecto.
                        </p>
                    {% endfor %}
                {% endfor %}
            {% endif %}
            {% endblock login_errors %}

            {% block login_form %}
                <form action="" method="post">
                    {% csrf_token %}
                    {% if messages %}
                        {% for message in messages %}
                        <p class="login-box-msg" style="color: red;">{{ message }}</p>
                        {% endfor %}
                    {% endif %}
                    <div class="form-group has-feedback">
                        <input name="username" class="form-control" placeholder="Usuario">
                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="password" name="password" class="form-control" placeholder="Contraseña">
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div class="row">
                        <div class="col-xs-8">
                            {% block login_form_links %}
                                <a class="a-register" href="/signup">Hazte una cuenta!</a>
                                <br>
                                <a class="a-register" href="/">Volver al inicio</a>
                            {% endblock %}
                        </div>
                        <div class="col-xs-4">
                            <button type="submit" class="btn btn-primary btn-block btn-flat">Login</button>
                        </div>
                    </div>
                </form>
            {% endblock login_form %}

        </div>
    </div>
{% endblock %}