{% extends 'adminlte/base.html' %}

{% block title_outer %}
       <title>{% block title %} Sarasa | Perfil {% endblock %}</title>
{% endblock %}

{% block content_header %}
    <section class="content-header">
      <h1>
        {{ user.username|capfirst }}
      </h1>
    </section>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-3">

          <!-- Profile Image -->
          <div id="perfil" class="box box-primary">
            <div class="box-body box-profile">
              <img class="profile-user-img img-responsive img-circle" src={{ user.avatar }}  alt="User profile picture">

              <h3 class="profile-username text-center"> {{ publicacion.idUserPublico|capfirst }} </h3>

              <p class="text-muted text-center">{{ perfil.carrera }}</p>
              {% if request.user == perfil.user %}
                <a data-target="#editarPerfil" onclick="cargarPerfil()" data-toggle="modal" href="#editarPerfil" class"pull-right"><i class="fa fa-pencil"></i></a>
              {% endif %}
              <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                  <b>Nombre</b> <a class="pull-right" id="idNombre"> {{ perfil.nombreCompleto|capfirst }}
                  </a>
                </li>
                <li class="list-group-item">
                  <b>Email</b> <a class="pull-right"> {{ user.email }} 
                  </a>
                </li>
              </ul>
              
                <a id="btnDenunciar{{ user.id }}"  onclick="idButtonModal(this)" data-toggle="modal" data-target="#modalDenuncia" class="btn btn-danger btn-block"><b>Denunciar</b></a>
              
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

          <!-- About Me Box -->
          <div id="perfilInfo" class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Sobre Mi</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <strong><i class="fa fa-book margin-r-5"></i> Educacion</strong>

              <p class="text-muted" id="idUniversidad">{{ perfil.universidad }}</p>

              <hr>

              <strong><i class="fa fa-book margin-r-5"></i> Educacion</strong>

              <p class="text-muted" id="idCarrera">{{ perfil.carrera }}
              </p>

              <hr>

              <strong><i class="fa fa-map-marker margin-r-5"></i> Ubicacion</strong>

              <p class="text-muted" id="idLocalidad">{{ perfil.localizacion }}
               </p>

              <hr>



            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#activity" data-toggle="tab">Actividad</a></li>
            </ul>
            <div class="tab-content">
              <div class="active tab-pane" id="activity">
                <!-- Post -->
                
                {% for publicacion in listaPublicaciones %}
                <div class="post">
                  <div class="user-block">
                    <img class="img-circle img-bordered-sm" src={{ publicacion.idUserPublico.avatar }} alt="user image">
                        <span class="username">
                          <a href="#"> {{ publicacion.idUserPublico.username|capfirst }} </a>
                          <a href="#" class="pull-right btn-box-tool"><i class="fa fa-times"></i>  </a>
                        </span>
                    <span class="description">publicado {{ publicacion.FechaPublicacion|date:"SHORT_DATE_FORMAT" }}</span>
                  </div>
                  <!-- /.user-block -->
                  <p>
                    {{ publicacion.Contenido|safe }}
                  </p>
                  <ul class="list-inline">
                  </ul>
                </div>
                <!-- /.post -->
                {% empty %}
                  <div class="post">
                    <div class="user-block">
                    </div>
                    <!-- /.user-block -->
                    <p>
                      No tiene actividad reciente en el Muro
                    </p>
                    <ul class="list-inline">
                    </ul>
                  </div>
                {% endfor %}
                
              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
      </div>

      {% include 'adminlte/components/modalDenunciaUser.html' %}
      {% include 'adminlte/components/editarPerfil.html' %}


{% endblock %}
