{% extends 'adminlte/base.html' %}
{% block content_header %}
    <section class="content-header">
        <h1>{{ publicacion.Titulo }}</h1>
    </section>
    {% endblock %}
{% block content %}
    <!-- Default box -->
    <div class="box box-success">
    <section class="invoice">
      <!-- title row -->
      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
            <img src="{{ publicacion.idUserPublico.avatar }}" size="10" class="img-circle" alt="User Image" width="45px" height="45px">
            {{ publicacion.idUserPublico|capfirst }} 
            <small class="pull-right"> {{ publicacion.FechaPublicacion }}</small>
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
            {{ publicacion.Contenido|safe }}
          </div>
        </div>
      </div>
      <div class="row no-print">
      </div>
    </section>
    </br>
    {% for comentario in comentarios %}
      <div class="box-body no-padding">
        <div class="mailbox-read-info">
          <h3></h3>
          <h5>{{ comentario.idUserComento }}
          <span class="mailbox-read-time pull-right">{{ comentario.FechaComentario|date:"SHORT_DATE_FORMAT" }}</span></h5>
        </div>
              
        <div class="mailbox-read-message">
          {{ comentario.ContenidoComentario }}
        </div>
        <!-- /.mailbox-read-message -->
      </div>
    {% endfor %}
    </div>

    <form role="form" method="post">
        {% csrf_token %}
        
        {% load widget_tweaks %}
        <div class="box-body">
          <div class="form-group">
            
            <label for="comentario">Comentario</label>
            {{ foobar|safe }}
            {{ FormComentario.ContenidoComentario }}
            <button type="submit" class="btn btn-info pull-right">Comentar</button>

          </div>
        </div>
    </form>
    <!-- /.box -->

          <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
          <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script> 
          <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script> 


            <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/codemirror.css">
            <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/theme/monokai.css">
            <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/codemirror.js"></script>
            <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/mode/xml/xml.js"></script>
            <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/2.36.0/formatting.js"></script>
            
            <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">
            <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js"></script>
            <script>
              $(document).ready(function() {
                  $('#id_ContenidoComentario').summernote({
                    height: 200,
                  }
                  );
                  $('.dropdown-toggle').dropdown()
              });
              
            </script>

{% endblock %}



