{% extends 'adminlte/base.html' %}
{% block content_header %}
    {% block breadcrumbs %}
    <ol class="breadcrumb" style="background-color:#ecf0f5;" >
        <li><a href="/inicio"><i class="fa fa fa-home"></i> Inicio</a></li>
        <li><a href="/grupos/"><i class="fa fa-group "></i> Mis Grupos</a></li>
        <li><a href="{% url 'grupos_url_with_pk' pk=grupo.idGrupo %}"><i class="fa fa-user "></i> {{ grupo.NombreGrupo }}</a></li>
        <li class="active"><a href="{% url 'nueva_publicacion_with_pk' pk=grupo.idGrupo %}"><i class="fa fa-file-text"></i> Nueva Publicacion</a></li>
      </ol>
      {% endblock %}
{% endblock %}
{% block content %}
    
    <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Nuevo Tema</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" method="post">
              {% csrf_token %}
              
              {% load widget_tweaks %}
              <div class="box-body">
                <div class="form-group">
                  <label for="TituloPublicacion">Titulo</label>
                  {{ formNuevaPublicacion.Titulo|add_class:"form-control"|append_attr:"placeholder:Titulo"}}       
                </div>

                <div class="form-group">
                  
                  <label for="ContenidoPublicacion">Contenido</label>
                  {{ foobar|safe }}
                  {{ formNuevaPublicacion.Contenido }}
                </div>
              </div>
              <!-- /.box-body -->

              <div class="box-footer">
                <a href="{% url 'grupos_url_with_pk' pk=grupo.idGrupo %}" class="btn btn-default">Volver Atras</a>
                <button type="submit" class="btn btn-info pull-right">Crear</button>
              </div>
            </form>
          </div>
          
          



          <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
          <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script> 
          <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script> 


            <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/codemirror.css">
            <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/theme/monokai.css">
            <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/codemirror.js"></script>
            <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/mode/xml/xml.js"></script>
            <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/2.36.0/formatting.js"></script>
            
            <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">
            <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js"></script>
            <script>
              $(document).ready(function() {
                  $('#id_Contenido').summernote({
                    height: 350, 
                    fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New']
                    }
                  );
                  $('.dropdown-toggle').dropdown()
              });
              
            </script>

          
{% endblock %}