
{% extends 'adminlte/base.html' %}

{% block content %}
    <h3>Resultados de busqueda:</h3>
    <!-- Default box -->
    <div class="row">
        <!-- /.box-header -->
        <div class="col-md-12">
        
            {% for grupo in grupos %}
                
            <div class="box collapsed-box" style="border-radius:8px">
                <div class="box-header with-border">
                    
                    <a href="{% url 'grupos_url_with_pk' pk=grupo.idGrupo %}">
                        <h3 class="box-title">{{ grupo.NombreGrupo }}</h3>
                    </a>
                    <div class="box-tools pull-right">
                        {% if grupo.idGrupo not in misGrupos %}
                            <button type="button" id="grupo{{ grupo.idGrupo }}" onclick="Suscribirse(this)" class="btn btn-block btn-success btn-sm" data-widget="collapse" data-toggle="tooltip">
                                Suscribirse
                            </button>
                        {% else %}
                            <button type="button" id="grupo{{ grupo.idGrupo }}" class="btn btn-block btn-danger btn-sm" disabled="true" data-widget="collapse" data-toggle="tooltip">
                                Miembro
                            </button>
                        {% endif %}
                    </div>
                </div>

            </div>
            {% endfor %}
        </div>
    </div>
    <!-- /.box -->
{% endblock %}
