{% extends "adminlte/base.html" %}
{% load i18n static %}

{% block title_outer %}
        <title>{% block title %} Sarasa | Recuperar COntraseña {% endblock %}</title>
{% endblock %}

{% block body_class %}login-page{% endblock %}

{% block body %}
    <div class="login-box">
        {% block logo %}
        <div class="login-logo">
            {# Mirrors block names used in _main_header.html #}
            <a href="{% block logo_href %}/{% endblock %}">{% block logo_text %}<b>Sarasa</b>UCSE{% endblock %}</a>
        </div>
        {% endblock %}
        <!-- /.login-logo -->
        <div class="login-box-body">

            {% block login_form %}
                <form action="" method="post">
                      {% csrf_token %}
                      {% load widget_tweaks %}
                      {% for field in form %}
                      <div class="form-group has-feedback">
                        {{ field|add_class:"form-control"|append_attr:"placeholder:Ingrese su mail"}}
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                      </div>
                      {% endfor %}
                        <div class="col-xs-8">
                            {% block login_form_links %}
                                <a class="a-register" href="/signup">Hazte una cuenta!</a>
                                <br>
                                <a class="a-register" href="/login">Ingresar</a>
                            {% endblock %}
                        </div>
                        <div class="col-xs-4">
                            <button type="submit" class="btn btn-primary btn-block btn-flat">Recuperar</button>
                        </div>
                    </div>
                </form>
            {% endblock login_form %}

        </div>
    </div>
{% endblock %}